@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
body{
	text-decoration: none;
    font-family: Comfortaa, serif;
    background: radial-gradient( #01350E 0%, #010A00 100%)
}

.nav-link{
    color: rgb(4, 112, 0);
}  

.navbar-nav .nav-link.active{
    color: rgb(2, 63, 0);
}

.navbar-brand img{
    width: 35px;
}

.navbar-toggler{
    background-color: rgb(82, 82, 82);
}

.sidebar{
	text-decoration: none;
    border: 1px solid transparent;
    border-image: url(https://deepwoken.co/border.png) 45%;
    border-image-width: 10px;
    border-image-outset: 2px;
	background: hsl(56,16%,82%);
    padding: 8px;
    margin: 8px;

}
.sidebar>p,
.sidebar>a{
	color: rgb(39, 39, 39);
}

.card{

    background: radial-gradient( #010A00 0%, #01350E 100%);
    color: rgb(35, 138, 81);
	
    
}

.slide-text
{
    color: rgb(35, 138, 81);
    margin: auto auto;
}

.card a{
    text-decoration: none;
    color: rgb(35, 138, 81);
}
.btn{
    background: radial-gradient( #01350E 0%, #010A00 90%);
    outline: none !important;
}

@media (max-width: 755px) {
    .carousel-indicators{
        display: none;
    }
}
p{
    color: rgb(35, 138, 81); 
}

footer
{
    text-shadow: #010A00 2px;
    background-color: rgba(17, 17, 17, 0.842);
}

.footer-text{
    color: rgb(80, 79, 79);
    margin: auto auto;
}
.media-links{
    display: flex;
    justify-content: center;
    align-items: center;

}

.anim-ds{
    animation: ds-anim 2s ease 0s infinite normal forwards;
}


@keyframes ds-anim {
	0% {
		transform: translate(0);
	}

	10% {
		transform: translate(-2px, -2px);
	}

	20% {
		transform: translate(2px, -2px);
	}

	30% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(2px, 2px);
	}

	50% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, -2px);
	}

	70% {
		transform: translate(-2px, 2px);
	}

	80% {
		transform: translate(-2px, -2px);
	}

	90% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}
.text-shadow
{
	text-shadow: #010A00 1px 0 10px;
}